{% extends 'base.html' %}
{% load static %}
{% block fijo %}

{# Buscar curso #}
<a href="{% url 'AppProyectoFinalBuscar' %}"> Buscar Curso </a>

{# Ver cursos #}
<hr><br>
        {% if todos_los_cursos %}
                <h1>Los cursos disponibles son: </h1>
                {% for curso in todos_los_cursos %}
                <p> Curso: {{curso.nombre}}, Grupo: {{curso.grupo}}</p>
                {% if user.is_authenticated %}
                        <a href="{% url 'AppProyectoFinalEliminar' curso.grupo %}"> Eliminar </a>
                        <br>

                        <a href="{% url 'AppProyectoFinalEditar' curso.grupo %}"> Editar </a>
                        <br>

                        <a href="{% url 'AppProyectoFinalSolicitar' %}"> Crear Curso </a>
                {% endif %}
<hr>
                {% endfor %}
        {% else %}
                <h1>No hay cursos en el momento</h1>
        {% endif  %}

{% endblock %}