{% extends 'base.html' %}
{% load static %}
{% block fijo %}

{# Ver estudiantes #}
<hr><br>
        {% if todos_los_estudiantes %}
                <h2>Los estudiantes son: </h2>
                {% for estudiante in todos_los_estudiantes %}
                <p> {{estudiante.nombre}}  {{estudiante.apellido}}</p>
                {% endfor %}
        {% else %}
                <h2>No hay estudiantes en el momento</h2>
        {% endif  %}

<a href="{% url 'AppProyectoFinalRegistrarEstudiante' %}"> Registrarme </a>
{% endblock %}