{% extends 'base.html' %}

{% block fijo %}
{# registro de profesores #}
<a href="{% url 'AppProyectoFinalRegistrarProfesor' %}"> Registro de Profesores </a>

{# Lista de profesores #}
<hr><br>
{% if todos_los_profesores %}
<h2>Los Profesores activos son: </h2>
    {% for profesor in todos_los_profesores %}
        <p> {{profesor.nombre}} {{profesor.apellido}}, {{profesor.email}}</p>
        <br>
    {% endfor %}
{% else %}
    <h1>No hay Profesores en el momento</h1>
{% endif  %}
{% endblock %}