{% extends 'base.html' %}
{% load static %}
{% block fijo %}

{# Buscar curso #}
<a href="{% url 'AppProyectoFinalBuscar' %}"> Buscar Curso </a>

{# Ver cursos #}
<hr><br>
{% if todos_los_cursos %}
    <h2>Los cursos disponibles son: </h2>
    {% for curso in todos_los_cursos %}
        <div>
            <li>
                Curso: {{curso.title}}, Autor: {{curso.author.first_name}} {{curso.author.last_name}}
                <p> {{curso.intro}} </p>
                <a class="btn btn-light" href="{% url 'AppProyectoFinallistacursosDetalles' curso.title %}">Más detalles del
                    curso</a>
            </li>
        </div>

        {% if user.is_authenticated  and user == curso.author %}
            <a href="{% url 'AppProyectoFinalEliminar' curso.title %}"> Eliminar </a>
            <br>
            <a href="{% url 'AppProyectoFinalEditar' curso.title %}"> Editar </a>
        {% endif %}
    {% endfor %}
{% else %}
    <h>No hay cursos en el momento</h>
{% endif  %}
    <hr>
{% if user.is_authenticated %}
    <a href="{% url 'AppProyectoFinalSolicitar' %}"> Crear Curso </a>
{% endif %}
{% endblock %}