{% extends 'base.html' %}
{% load static %}

{% block fijo %}
<div>
    <div class="container" style="display:flex; justify-content:center">
        <img src="/static/AppProyectoFinal/assets/img/perfil2.jpg" height="120px"/>
    </div>
    <div class="container" style="display:flex; justify-content:center">
        <h2 class="mb-5">¡Hola! Soy Dubraska Salcedo</h2>
    </div>

    <div class="container" style="display:flex; justify-content:space-evently">
            <p> Soy Matemática, me gusta aprender cada día algo nuevo. Actualmente estoy haciendo un PhD en Matemáticas,
                me interesa conocer Python porque considero que es una herramienta potente que me ayudará particularmente, con grandes
                cálculos para la búsqueda de ciertos números de interés en mi trabajo de investigación.
                Estoy finalizando el Curso Python desde cero de CoderHouse, para el cual presento este proyecto, destacando que ahora
                tengo la satisfacción de crear y administrar mi propia página web, en la cual puedo compartir mis trabajos e información de interés. </p>
    </div>

    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="https://www.instagram.com/dubraska_salcedo/"><i class="bi-instagram fs-3"></i></a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}