<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Disfrutar la Matemática</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppProyectoFinal/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-primary" href="{% url 'AppProyectoFinalquiensoy' %}">Quién soy</a>
                <a class="btn btn-primary" href="{% url 'AppProyectoFinalListaTalleres' %}">Cursos</a>


                {% if user.is_authenticated %}
                    <h3>{{ user.username }} </h3>
                    <img src="{{ user.avatar.imagen.url }}" height="40px">
                     <a class="btn btn-secondary" href="{% url 'accountMiPerfil' %}">Mi Perfil</a>
                    <a class="btn btn-primary" href="{% url 'accountLogout' %}">Salir</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'accountLogin' %}">Ingresar</a>

                    <a class="btn btn-primary" href="{% url 'accountRegister' %}">Registrar</a>
                {% endif %}
            </div>
        </nav>
        <header >
            <div style="display:flex; align-items:center; justify-content:center; height:100px; background-size: cover; background-image: url({% static 'AppProyectoFinal/assets/img/nueva.jpg' %})">
                <h1>Disfrutar la Matemática</h1>
            </div>
        </header>
     {% block fijo %}
        <div class="container" style="display:flex; justify-content:center">
                <h2 class="mb-5">¡Bienvenido!</h2>
        </div>
        <div class="container" style="display:flex; justify-content:space-evently"> <p> ¡En este blog quiero compartirte algunas maneras divertidas de aprender Matemática!
            Junto a profesores de distintas áreas del conocimiento puedes enrriquecer tus conocimientos.</p>
        </div>
        <div class="container" style="display:flex; justify-content:center"> ¡Gracias por visitarnos!
        </div>

        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'AppProyectoFinal/assets/img/pexels-keira-burton-6623835.jpg' %})"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Habilidades</h2>
                        <p class="lead mb-0">¡Las matemáticas son sólo el comienzo!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'AppProyectoFinal/assets/img/bg-showcase-3.jpg' %})"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Herramientas tecnológicas</h2>
                        <p class="lead mb-0">Implementamos aplicaciones útiles para el desarrollo de la Lógica</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'AppProyectoFinal/assets/img/grupo.jpg' %})">

                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Fomentamos espacios de discusión</h2>
                        <p class="lead mb-0">Grupos para compartir ideas y experiencias</p>
                    </div>
                </div>
            </div>
        </section>
     {% endblock %}

        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
